﻿@{
    ViewData["Title"] = "Tax Calculator";
}

<div class="text-center">
    <h1 class="display-4">Tax Calculator</h1>
    <p>Tax calculator based on user postal code and annual income</p>
</div>

<div class="row">
    <div class="col-sm-6">

        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label" for="postaCodes">Postal Code</label>
                    <select id="postaCodes" class="form-select"></select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="txtAnnualIncome">Annual Income</label>
                    <input type="number" class="form-control" placeholder="Annual Income" id="txtAnnualIncome">
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-primary" id="calculate" onclick="calculateTax()">Calculate Tax</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div>
            <div class="card" id="taxCalculationResult">
                <div class="card-header">
                    User Tax Calculation Result
                </div>

                <div class="card-body">
                    <table class="table table-striped table-responsive table-bordered" id="userResult">
                        <tbody>
                            <tr>
                                <td>Date Requested</td>
                                <td id="dateCreated"></td>
                            </tr>
                            <tr>
                                <td>Postal Code</td>
                                <td id="postalCode"></td>
                            </tr>
                            <tr>
                                <td>Tax Type</td>
                                <td id="taxType"></td>
                            </tr>

                            <tr>
                                <td>Annual Tax</td>
                                <td id="annualTax"></td>
                            </tr>

                            <tr>
                                <td>Nett Income</td>
                                <td id="nettIncome"></td>
                            </tr>

                            <tr>
                                <td>Annual Income</td>
                                <td id="annualIncome"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>


<script>

    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("taxCalculationResult").style.display = "none";
        // Get Postal Codes
        $.ajax({
            type: "GET",
            url: "/api/taxpostalcode",
            success: function (data) {
                var option = '<option value="-1">Please Select a postal code</option>';
                Object.entries(data).forEach(([key, value]) => {
                    option += '<option value="' + value.postalCode + '">' + value.postalCode + '</option>';
                });
                $("#postaCodes").html(option);
            }
        });

        // Calculate Tax
        calculateTax = () => {
            document.getElementById("taxCalculationResult").style.display = "none";
            var postalCode = $("#postaCodes").val();
            var annualIncome = $("#txtAnnualIncome").val();
            if (postalCode == -1) {
                alert("Please select a postal code");
                return;
            }
            if (annualIncome == "" || Number(annualIncome) < 0) {
                alert("Please enter an annual income");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/api/taxcalculator",
                contentType: "application/json",
                data: JSON.stringify({ "postalCode": postalCode, "annualIncome": annualIncome }),
                success: function (data) {
                    document.getElementById("taxCalculationResult").style.display = "block";
                    $("#dateCreated").html(new Date(data.dateCreated).toLocaleString('en-ZA', { timeZoneName: 'short' }));
                    $("#postalCode").html(data.postalCode);
                    $("#annualIncome").html(data.annualAmount);
                    $("#annualTax").html(data.calculatedTax);
                    $("#nettIncome").html(data.calculatedNett);
                    $("#taxType").html(data.taxType);
                }
            });
        }
    });
</script>
